
# Name is optional and if present must be used
# in the url path for badges
name: Publish to Nuget

# only run when a release has been "published"
on:
  push:
    branches:
    - test 

jobs:

  # publish to npm on release
  publish:
    name: Nuget Publish
    runs-on: ubuntu-latest
    strategy:
      matrix:
        node-version: [12]

    steps:
      - uses: actions/checkout@v1
      # - name: Pack nuget Package
      #   run: nuget pack package.nuspec
      - name: Push package to nuget
        run: dotnet nuget push **/*.nupkg --api-key ${{ secrets.NUGET_TOKEN }} --source https://api.nuget.org.v3/index.json